# Data Engineering Project Instructions

## Preparation
* You will need to install `boto3`
* You will be using `pandas` and `configparser`
* You will need to install two additional libraries to support pandas in reading from S3:
```bash
  conda install s3fs -c conda-forge -y
  conda install fsspec -y
```

## Transformations

You will perform the same transformations you did in the previous class, including:

* __Calculate Trip Duration in Minutes:__ Call it Trip_Duration.
* __Calculate Total Trip Charge:__ Include fare amount, extra, MTA tax, tolls amount, improvement surcharge, congestion surcharge, airport fee, and tip amount. Call it Total_Trip_Charge.
* __Add Trip Date Components:__ Add `Trip_Date`, `Trip_Month`, `Trip_Day`, and `Trip_Year`.
* __Keep Specific Columns:__ `VendorID`, `passenger_count`, `trip_distance`, `store_and_fwd_flag`, `payment_type`, `Trip_Duration`, `Total_Trip_Charge`, `Trip_Date`, `Trip_Month`, `Trip_Year`, `Trip_Day`
* __Reorder the Columns:__ Start with VendorID, followed by all the date/time columns (Date, Year, Month, and Day), then the remaining columns.
* __Rename the Columns:__ Rename columns to Vendor_ID, No_of_Passengers, SF_Flag, Payment_Type.

## Expectation Part 1

* You will create functions to support your ETL Process.
* You will need to capture some statistics for each data set you are processing for reference.
* You will read from a source S3 bucket (raw) and write into a different S3 bucket (transformed):
```python
bucket_dest = 'techcatalyst-transformed'
bucket_source = 'techcatalyst-raw'
```
* Make sure that your files "objects" are under your name inside the `techcatalyst-transformed` bucket. For example:
s3://techcatalyst-transformed/tarek/yellow_tripdata_2024-01_transformed.parquet/Trip_Year=2024/Trip_Month=January/84e2f047dcff4f7183ae25518ecd486b-0.parquet
* Create a function that generates an `s3://` URI. The function should take a bucket name, a file name, and then construct an `s3://` URI that points to the object. Refer to this link for more details on S3 URIs. If you forget how the `s3://` URI looks, please log in to AWS and navigate to S3 services to see how an object inside a bucket is being referenced by the `s3://` URI.
* Create a **cleanup** function that takes three *parameters*: the DataFrame, the name of the file, and the destination bucket. The function will transform the data, then write out a Parquet file to the destination address.
* You may need to create additional functions as necessary.
* Finally, once you write the files to S3, you will also write your statistic file. For example., capture number of rows, number of columns, number of columns with null values, date/time of processing. What else can you think of?
* While processing each file, it would be great to log something on the screen to show progress or status. Here is an example below:

```
processing yellow_tripdata_2024-01.parquet
...........
writing s3://techcatalyst-raw/yellow_tripdata_2024-01.parquet to techcatalyst-transformed bucket
...........
processing yellow_tripdata_2024-02.parquet
...........
writing s3://techcatalyst-raw/yellow_tripdata_2024-02.parquet to techcatalyst-transformed bucket
...........
processing yellow_tripdata_2024-03.parquet
...........
writing s3://techcatalyst-raw/yellow_tripdata_2024-03.parquet to techcatalyst-transformed bucket
...........
processing yellow_tripdata_2024-04.parquet
...........
writing s3://techcatalyst-raw/yellow_tripdata_2024-04.parquet to techcatalyst-transformed bucket
...........
```



# Expectation Part 2
* Once the data has been loaded on AWS, you will need to use Athena to inspect the data to ensure correctness.
* Remember, before using Athena, you will need to go through the process of creating the crawlers and other setup steps.

In [1]:
import boto3

In [2]:
import configparser
config = configparser.ConfigParser()

# read the cfg file
config.read('aws.cfg')

AWS_ACCESS_KEY = config['AWS']['aws_access_key']
AWS_SECRET_KEY = config['AWS']['aws_secret_key']

In [3]:
# establish your S3 client 
# https://boto3.amazonaws.com/v1/documentation/api/latest/guide/s3-example-creating-buckets.html
# make sure to pass your credentials: aws_access_key_id and aws_secret_access_key
s3_client = boto3.client('s3', aws_access_key_id = AWS_ACCESS_KEY, aws_secret_access_key = AWS_SECRET_KEY)

In [7]:
# submit the query to get back all the buckets in the account and store in the response variable 
response = s3_client.list_buckets()

In [9]:
# use either a loop or list comprehension to extract the Bucket Names to a list. This is mainly for your reference in terms what are all the buckets available
buckets = [bucket['Name'] for bucket in response['Buckets']]

In [10]:
# We care only about reading from the 'techcatalyst-raw' bucket
bucket_name = 'techcatalyst-raw'

In [12]:
# Get all the objects inside that bucket. Once you get response, you can list all the keys. Remember, like a dictionary you have Key-Value pairs. We care about the Contents key.
obj_r = s3_client.list_objects_v2(Bucket=bucket_name)

In [13]:
# Print out the objects available. There are the Parquet files.
for obj in obj_r['Contents']:
    print(obj['Key'])

yellow_tripdata_2024-01.parquet
yellow_tripdata_2024-02.parquet
yellow_tripdata_2024-03.parquet
yellow_tripdata_2024-04.parquet

In [15]:
# Store them into a Python list to use later 
data_list = [obj['Key'] for obj in obj_r['Contents']]
data_list

['yellow_tripdata_2024-01.parquet',
 'yellow_tripdata_2024-02.parquet',
 'yellow_tripdata_2024-03.parquet',
 'yellow_tripdata_2024-04.parquet']

In [16]:
import pandas as pd

In [15]:
# if you get this error: ImportError: Missing optional dependency 'fsspec'.  Use pip or conda to install fsspec. you just need to uncomment the below
# !conda install fsspec -y

In [16]:
# uncomment if you did not install s3fs
# !conda install s3fs -c conda-forge -y

In [17]:
# run this example to make sure everything works
pd.read_parquet('s3://techcatalyst-raw/yellow_tripdata_2024-01.parquet',
               storage_options={
                   'key' : AWS_ACCESS_KEY,
                   'secret' : AWS_SECRET_KEY
               })

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.70,1.00,0.5,0.00,0.00,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.00,3.50,0.5,3.75,0.00,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.30,3.50,0.5,3.00,0.00,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.00,3.50,0.5,2.00,0.00,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.90,3.50,0.5,3.20,0.00,1.0,16.10,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2964619,2,2024-01-31 23:45:59,2024-01-31 23:54:36,NaN,3.18,NaN,None,107,263,0,15.77,0.00,0.5,2.00,0.00,1.0,21.77,NaN,NaN
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,NaN,4.00,NaN,None,114,236,0,18.40,1.00,0.5,2.34,0.00,1.0,25.74,NaN,NaN
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,NaN,3.33,NaN,None,211,25,0,19.97,0.00,0.5,0.00,0.00,1.0,23.97,NaN,NaN
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,NaN,3.06,NaN,None,107,13,0,23.88,0.00,0.5,5.58,0.00,1.0,33.46,NaN,NaN
2964623,1,2024-01-31 23:58:25,2024-02-01 00:13:30,NaN,8.10,NaN,None,138,75,0,32.40,7.75,0.5,7.29,6.94,1.0,55.88,NaN,NaN

## Putting it all together

In [38]:
# Create a function that generates an s3:// URI 
# The function takes a bucket name, a file name and then constructs an s3:// uri that points to the object  

# https://repost.aws/questions/QUFXlwQxxJQQyg9PMn2b6nTg/what-is-s3-uri-in-simple-storage-service

# if you forgot how the s3:// uri looks like then please login to AWS and navigate to S3 services and see how an object inside a bucket is being referenced by the s3:// uri

def generate_url(bucket, file):
        uri = f's3://{bucket}/{file}'
        return uri

In [44]:
# Create a cleanup function that takes three parameters: the DataFrame, the name of the file, the destination bucket

# the function will transform the data then write out a Parquet file to the destination address 
from datetime import datetime
def cleanup(df, name, dest):
    #Read Data
    df = pd.read_parquet(name, storage_options={
                   'key' : AWS_ACCESS_KEY,
                   'secret' : AWS_SECRET_KEY
               })
    
    df['Trip_Duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() // 60
    df['Total_Trip_Charge'] = df['fare_amount'] + df['extra'] + df['mta_tax'] + df['tolls_amount'] + df['improvement_surcharge'] + df['congestion_surcharge'] + df['Airport_fee'] + df['tip_amount']
    df['Trip_Date'] = pd.to_datetime(df['tpep_pickup_datetime'].dt.date)
    df['Trip_Month'] = df['Trip_Date'].dt.month_name()
    df['Trip_Day'] = df['Trip_Date'].dt.day_name()
    df['Trip_Year'] = df['Trip_Date'].dt.year
    cols = ['VendorID', 'Trip_Date', 'Trip_Year', 'Trip_Month', 'Trip_Day',
       'passenger_count', 'trip_distance', 'store_and_fwd_flag',
       'payment_type', 'Trip_Duration',
       'Total_Trip_Charge' ]
    df = df[cols]
    df.rename(columns={
    'VendorID': 'Vendor_ID',
    'passenger_count': 'No_of_Passengers',
    'store_and_fwd_flag': 'SF_Flag',
    'payment_type': 'Payment_Type'
}, inplace=True)
    
    #Write Data
    df.to_parquet(dest, partition_cols=['Trip_Year', 'Trip_Month'], storage_options={
                   'key' : AWS_ACCESS_KEY,
                   'secret' : AWS_SECRET_KEY
               })
    stats_data = {'file_name': name ,'number of records': df.shape[0] ,'number_of_cols': df.shape[1] ,'number_of_cols_with_na': df.isna().any().sum(),'date_time': datetime.now()} 
    stats_return = pd.DataFrame(data=stats_data, index=[0])
    return stats_return

In [45]:
bucket_dest = 'techcatalyst-transformed'
bucket_source = 'techcatalyst-raw'
stats = pd.DataFrame()

for par in data_list:
    print(f'Processing {par} from {bucket_source}')
    print('............')
    url_raw = generate_url(bucket_source, par)
    # print(url_raw)
    my_url = bucket_dest + '/peter'
    par_name = par.replace('.parquet', '_transformed.parquet')
    url_transformed = generate_url(my_url, par_name)
    # print(url_transformed)
    curr_stats = cleanup(pd.DataFrame(), url_raw, url_transformed)
    stats = pd.concat([stats, curr_stats], axis=0)
    print(f'Writing transformed {par} to {bucket_dest}')
    print('............')
# Write your code that leverages the functions you just created 
# Your functions should perform the ETL but should also print out some status as shown

Processing yellow_tripdata_2024-01.parquet from techcatalyst-raw
............
Writing transformed yellow_tripdata_2024-01.parquet to techcatalyst-transformed
............
Processing yellow_tripdata_2024-02.parquet from techcatalyst-raw
............
Writing transformed yellow_tripdata_2024-02.parquet to techcatalyst-transformed
............
Processing yellow_tripdata_2024-03.parquet from techcatalyst-raw
............
Writing transformed yellow_tripdata_2024-03.parquet to techcatalyst-transformed
............
Processing yellow_tripdata_2024-04.parquet from techcatalyst-raw
............
Writing transformed yellow_tripdata_2024-04.parquet to techcatalyst-transformed
............

In [50]:
stats.reset_index(drop=True, inplace=True)

In [51]:
stats

,file_name,number of records,number_of_cols,number_of_cols_with_na,date_time
0,s3://techcatalyst-raw/yellow_tripdata_2024-01....,2964624,11,3,2024-06-27 11:02:44.668226
1,s3://techcatalyst-raw/yellow_tripdata_2024-02....,3007526,11,3,2024-06-27 11:02:54.114039
2,s3://techcatalyst-raw/yellow_tripdata_2024-03....,3582628,11,3,2024-06-27 11:03:05.142982
3,s3://techcatalyst-raw/yellow_tripdata_2024-04....,3514289,11,3,2024-06-27 11:03:14.998042